.btn_emerald {
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background-color: #2ecc71;
}

.btn_wisteria {
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background-color: #8e44ad;
}

.btn_yellow {
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background-color: #f1c40f;
}

.btn_blue {
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background-color: #2980b9;
}

.btn_pink {
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background-color: #ff7979;
}